{% extends "base.html" %}
{% block body %}

    <h3>{{ quote.quote_id }}</h3>
    <h4>{{ quote.pet_name }}</h4>
    <h4>{{ quote.base_rate }}</h4>
    <h4>{{ quote.geographical_factor }}</h4>
    <h4>{{ quote.gender_factor }}</h4>
    <h4>{{ quote.breed_factor }}</h4>
    <h4>{{ quote.age_factor }}</h4>
    <h4>{{ quote.policy_limit_factor }}</h4>
    <h4>{{ quote.deductibale_factor }}</h4>
    <h4>{{ quote.coinsurance_factor }}</h4>
    <h4>{{ quote.holistic_alternative_treatment_factor }}</h4>
    <h4>{{ quote.boarding_advertising_holoday_cancellation_rate }}</h4>
    <h4>{{ quote.breeding_endorsement }}</h4>
    <h4>{{ quote.discount_factor }}</h4>
    <h4>{{ quote.digital_partner_factor }}</h4>
    <h4>{{ quote.affinity_group_factor }}</h4>
    <h4>{{ quote.smart_collar_factor }}</h4>
    <h4>{{ quote.employee_benefit_factor }}</h4>
    <h4>{{ quote.default }}</h4>
    <h4>{{ quote.available }}</h4>
    <h4>{{ quote.visible }}</h4>
    <h4>{{ quote.created }}</h4>
    <h4>{{ quote.recurrence }}</h4>


{% endblock %}
