{% extends "base.html" %}
{% block body %}
    <h3>{{ user_test.name }}</h3>
    <h3>{{ user_test.city }}</h3>
    <p>M</p>

    <h3>{{ user }}</h3>
    <h3>{{ user.name }}</h3>
    <h3>{{ user.is_active }}</h3>
    <h3>{{ user.is_staff }}</h3>
    <h3>{{ user.phone_number }}</h3>
    <h3>{{ user.address_1 }}</h3>
    <h3>{{ user.address_2 }}</h3>
    <h3>{{ user.city }}</h3>
    <h3>{{ user.zipcode }}</h3>
    <h3>{{ user.state }}</h3>
    <h3>{{ user.paid_until }}</h3>
    <h3>{{ user.customerId_oneinc }}</h3>

{% endblock %}
